*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 17px;
}

/* common classes */

.container{
    width: 75%;
    max-width: 1250px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.p-t{
    padding-top: 130px;
}
.p-b{
    padding-bottom: 130px;
}

.t-a-center{
    text-align: center;
}
.t-transform{
    text-transform: uppercase;
}

.btn{
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #fe7865;
    color: #fff;
    padding: 0.8rem 2.5rem;
    border:1px solid #fe7865;
    display: inline-block;
    margin-top: 10px;
    transition: all 0.5s ease 0s;
}
.btn:hover{
    background-color: #fff;
    color: #fe7865;
}
.offer{
    position: absolute;
    text-align: center;
    background-color: #fe7865;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
}
.common-h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
    text-transform: capitalize;
}
.common-para{
    font-size: 1rem;
    font-size: 400;
    color: #777;
}


/* nav section */

.navSection{
    width: 100%;
    color: #7777;
    padding: 40px 0;
    position: fixed;
    background-color: #fff;
    z-index: 99;
}
.logoImg{
    width: 15%;
}
.navLIst{
    width: 78%;
}
/* .nav-div{
    display: flex;
    justify-content: space-between;
} */
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 15px;
}
ul li{
    margin-left: 30px;
}
ul li a{
    font-size: 1.1rem;
    text-decoration: none;
    color: #777777;
    font-weight: 600;
    transition: all 0.4s ease 0s;
}
ul li a:hover{
    color: #fe7865;
}
.home{
    color: #fe7865;
}

/* banner section */
.bannerOffer{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 20px;
    left: 29.5%;
    background-color: #fe7865;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bannerSection{
    width: 100%;
    padding: 150px 80px 100px 80px;
}

.banner{
    display: flex;
    position: relative;
}
.bannerLeft{
    width: 33%;
}

.image{
    min-height: 650px;
    width: 100%;
}
.bannerRight{
    padding-top: 140px;
    padding-left: 150px;
    width: 67%;
    background-color: #FFFAF6;
}
.bannerRight h1{
    font-size: 5.7rem;
    line-height: 6rem;
    font-weight: 600;
    padding-right: 100px;
}
.underline{
    text-decoration: underline rgba(254, 120, 101, 0.5);
    height: 10px;
}
.bannerRight p{
    font-size: 1.2rem;
    color: #777;
    margin: 20px 0;
    padding-right: 450px;
}


.bannerBottom{
    margin-top: 130px;
    width: 100%;
}

.horizontal{
    width: 67%;
    height: 0;
    display: inline-block;
    border: 1px solid #fe7865;
    position: relative;
    top: 10px;
}
.icon{
    width: 12%;
    margin-right: 20px;
}
.random-icon-div{
    width: 23%;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 1.1rem;
    transition: all 0.5s ease 0s;
}
.random-icon-div:hover{
    border-color: #fe7865;
}

.icon-btn{
    color: #ddd;
    transition: all 0.5s ease 0s;
}
.icon-btn:hover{
    color: #fe7865;
}


/* first section */
.firstSection{
    width: 100%;
}
.firstMain{
    position: relative;
    width: 49%;
}
.viewCollection{
    width: 100%;
}
.viewCollection img{
    width: 100%;
}
.mainView{
    position: absolute;
    top: 0;
}

.vc-para{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333333;
    margin: 50px 0 20px 30px;
}
.vc-btn{
    font-size: 1.1rem;
    color: #777777;
    margin-left: 30px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.5s ease 0s;
}
.vc-btn:hover{
    color: #fe7865;
}

/* second section */

.randomOffer{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fe7865;
    border-radius: 50%;
    font-size: 1.7rem;
    color: #fff;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-section{
    padding-top: 0;
}

.chair{
    width: 23%;
    position: relative;
}
.chair-img{
    width: 100%;
}
.our-collection{
    padding: 2rem 0;
    background-color: #e5e5e5;
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}
.ss-para{
    padding: 1.2rem 0;
    border: 1px solid #ddd;
    color: #777777;
    font-weight: 600;
    font-size: 1.3rem;
    display: block;
    text-decoration: none;
}
.furniture{
    background-color: #fe7865;
    color: #fff;
    border: none;
}
.chair-heading{
    font-size: 1.2rem;
    font-weight: 600;
    color: #333333;
    margin-top: 25px;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    display: inline-block;
}
.chair-heading:hover{
    color: #fe7865;
}
.fa-star{
    color: #fc924b;
    font-size: 1rem;
    margin: 5px 0;
}
.fa-star-o{
    color: #fc924b;
    font-size: 1rem;
}
.chair-para{
    font-size: 1.2rem;
    font-weight: 600;
    color: #fe7865;
    display: inline-block;
}
.delete{
    font-size: 1.2rem;
    font-weight: 600;
    color: #c4c4c4;
    margin-left: 5px;
}

/* third section */
.thirdSection{
    width: 100%;
    background-color: #FFFAF6;
    padding: 100px 0;
}
.thirdHeader{
    width: 100%;
}
.thirdHr{
    width: 90px;
    border: 1px solid #fe7865;
    display: inline-block;
    position: relative;
    bottom: 5px;
}
.ourStory{
    display: inline-block;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: 10px;
    color: #fe7865;
}
.thirdHead{
    margin: 15px 0;
}
.thirdPara{
    margin-bottom: 80px;
}

.left{
    width: 48.5%;
}

.service{
    width: 100%;
    margin-bottom: 30px;
}
.four-section{
    width: 47%;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ddd;
}
.margin-b{
    margin-bottom: 40px;
}

.aside-head{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fe7865;
    margin: 10px 0;
}

.aside-para{
    font-weight: 400;
    color: #777;
    margin-bottom: 0;
    font-size: 1rem;
    margin-bottom:0;
}
.random{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.chair-offer{
    text-align: right;
    top: 20px;
    left: 180px;
    padding: 1.5rem 0.5rem;
    font-size: 1.7rem;
}

/* fourth section */
.showcase{
    width: 35%;
}
.paragraph{
    width: 65%;
}
.article-para{
    margin-bottom: 100px;
}
.article-image{
    width: 100%;
}
.article-btn{
    position: relative;
    bottom: 50px;
    left: 50px;
    font-size: 1.7rem;
    padding: 25px 80px;
    font-weight: 500;
}

/* fifth section */
.fifthSection{
    background-color: #FFFAF6;
}

.fifth-para{
    font-size: 1.1rem;
}
.team{
    width: 100%;
}
.person{
    width: 23%;
    background-color: #fff;
    padding: 40px 0;
    transition: all 0.5s ease 0s;
}
.person:hover{
    box-shadow: 0px 0px 5px  #fe7865;
}

.person-image{
    border-radius: 50%;
}
.fifth-para{
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0 350px;   
}
.person-name{
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
    font-weight: 600;
    margin-top: 30px;
    display: block;
    transition: all 0.5s ease 0s;
}
.person-name:hover{
    color: #fe7865;
}
.person-para{
    font-size: 0.8rem;
    font-weight: 400;
    color: #777;
    margin: 15px;
    text-transform: uppercase;
    letter-spacing: 3px; 
}
.three-icons{
    background-color: #ffe8e5;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 7px 0;
    border: 1px solid #fe7865;
    border-radius: 25px;
}
.three-icon-btn{
    font-size: 1.1rem;
    color: #777;
    transition: all 0.3s ease 0s;
}
.three-icon-btn:hover{
    color: #fe7865;
}

/* sixth section */

.sixthSection{
    width: 100%;
    background-image: url(../img/ts-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.lisaWhite{
    padding: 60px 30px;
    background-color: #fe7865;
    width: 38%;
    color: #fff;
    position: relative;
    bottom: -250px;
    opacity: 0.9;
}
.fa-quote-right{
    font-size: 4rem;
}
.lisaPara{
    font-size: 1.7rem;
    line-height: 45px;
    font-style: italic;
    font-weight: 500;
    margin: 30px 0;
}
.lisa-head{
    font-size: 1rem;
    font-weight: 500;
}
.lisa-p2{
    font-size: 0.8rem;
}
/* seventh section */


.seventhSection{
    text-align: center;
    padding: 350px 0 100px 0;
    width: 100%;
}

.team-loved{
    text-align: left;
    margin-top: 50px;
}
.loved-div{
    width: 30%;
    border: 1px solid #ddd;
}
.loved-image{
    width: 100%;
    transition: all 0.3s ease 0s;
}


.loved-a{
    display:block;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0 25px;
    color: #333333;
    font-weight: 500;
    margin-top: 15px;
    transition: all 0.3s ease 0s;
}
.loved-a:hover{
    color: #fe7865;
}
.loved-para{
    padding-left: 25px;
    font-style: italic;
    color: #777;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 30px;
}
.bottom-loved{
    border-top: 1px solid #ddd;
    padding: 10px 30px;
}
.bottom-loved-image{
    border-radius: 50px;
    margin-right: 20px;
    transition: all 0.3s ease 0s;
}

.bottom-loved-a{
    text-decoration: none;
    color: #333333;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.bottom-loved-a:hover{
    color: #fe7865;
}
.fa-share-square-o{
    margin-right: 10px;
}
.loved-icon{
    font-size: 1.2rem;
    color: #777777;
    transition: all 0.3s ease 0s;
}
.loved-icon:hover{
    color: #fe7865;
}

/* eight section */
.eight-section{
    padding-top: 50px;
}
.eight-section-h1{
    font-size: 3rem;
    color: #333;
    margin-bottom: 50px;
}
.information{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #9c9c9c;
    padding: 30px;
}
.contact-info{
    width: 30%;
    text-align: left;
}
.contact-info-h1{
    font-size: 1.5rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
}
.contact-info .fa{
    font-size: 1.3rem;
    margin-right: 20px;
    color: #fe7865;
}
.contact-para{
    display: inline;
    font-size: 1.2rem;
    color: #777777;
}
.middle-i{
    margin: 30px 0;
}
.form-input{
    width: 65%;
    text-align: left;
}
.input{
    padding: 15px;
    width: 46%;
    background-color: #f7f7ff;
    border: 1px solid #ddd;
}
.textarea{
    padding: 15px;
    margin-top: 25px;
    width: 96%;
    height: 150px;
    background-color: #f7f7ff;
    border: 1px solid #ddd;
    margin-bottom: 30px;
}
::placeholder{
    color: #777777;
    font-size: 1.2rem;
}

/* footer section */


/* article */
.article{
    width: 20%;
}
.article-p{
    font-size: 1rem;
    color: #777;
    margin: 15px 0;
}

.footer-icon-div{
    display: inline-block;
    width: 15%;
    padding: 5px;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    margin-right: 10px;
    box-shadow: 1px 1px 5px red;
    transition: all 0.3s ease 0s;
}
.footer-icon-div:hover{
    background-color: #fe7865;
}
.article-a{
    color: #777;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s ease 0s;
}
.article-a:hover{
    color: #fff;
}


 /* services */
 .footer-head{
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
 }
.footer-a{
    display: block;
    text-decoration: none;
    font-size: 1rem;
    color: #777;
    margin-bottom: 15px;
    transition: all 0.3s ease 0s;
}
.footer-a:hover{
    color: #fe7865;
}

/* contact-info */
.main-div{
    width: 100%;
    color: #777;
}
.contact-right{
    margin-left: 10px;
}

.contact-p{
    font-size: 1rem;
    margin-bottom: 50px;
}
.contact-left{
    font-size: 1rem;
    margin-bottom: 25px;
}
.contactNow{
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #fe7865;
    color: #fff;
    padding: 0.8rem 2.5rem;
    border:1px solid #fe7865;
    display: inline-block;
    margin-top: 10px;
    transition: all 0.5s ease 0s;
    text-transform: uppercase;
}

/* bottom section */

.bottom-section{
    margin-top: 50px;
    padding: 25px 0;
    border-top: 1px solid #777;
    text-align: center;
}
.bottom-head{
    font-size: 1.2rem;
    color: #777;
    font-weight: 500;
}
.bottom-span{
    color: #fe7865;
    margin-left: 10px;
    text-decoration: none;
}


/* -------media querry--------  */

/* ----------------  view in 1024px  ------------------- */


@media only screen and (max-width:1080px){

    html{
        font-size: 14px;
    }  
    
    .image {
        min-height: 450px;
    }
    
    .bannerOffer{
        left: 29%;
        height: 80px;
        width: 80px;
    } 
    .bannerRight {
        padding: 50px 0 0 50px;
    }
    .bannerRight p {
        padding-right: 50px;
    }
    .bannerBottom {
        margin-top: 50px;
    }
    .bannerSection{ 
        padding: 150px 20px 0 20px;
    }

    .fifth-para{
        padding: 0 100px;
    }

    .lisaWhite{
        width: 60%;
    }
}


@media only screen and (max-width:991px){

    /* nav section */


    html{
        font-size: 12px;
    }

    .ul li{
        margin-left: 10px;
    }

    /* banner section */

        
    .bannerSection{ 
        padding: 150px 20px 0 20px;
    }
    .image {
        min-height: 450px;
    }
    .bannerOffer{
        left: 29%;
        height: 80px;
        width: 80px;
    } 
    .bannerRight {
        padding: 50px 0 0 50px;
    }
    .bannerRight h1{
        font-weight: 600;
        line-height: 7rem;
    }
    .bannerRight p {
        padding-right: 50px;
    }
    .bannerBottom {
        margin-top: 50px;
    }
    .horizontal{
        width: 50%;
    }
    .icon{
        width: 25%;
    }

    /* first section */

    .firstMain{
        width: 100%;
        margin-bottom: 20px;
    }

    /* second section */

    .our-collection{
        font-weight: 700;
        padding: 20px 0;
    }
    .chair{
        width: 30%;
    } 
    .randomChair{
        display: none;
    } 
    .randomOffer{
        height: 70px;
        width: 70px;
    }

    /* third section */

    .left{
        width: 100%;
        margin-bottom: 40px;
    }

    /* fourth section */

    .showcase{
        width: 100%;
        margin-bottom: 50px;
    }
    .paragraph{
        width: 100%;
    }

    /* fifth section */

    .person{
        width: 47%;
        margin-bottom: 35px;
    }

    /* sixth section */

    .lisaWhite{
        width: 60%;
    }

    /* seven section */

    .loved-div{
        width: 47%;
        margin-bottom: 50px;
    }
    .randomLoved{
        margin: 0 auto;
    }

    /* eight section */

    .contact-info{
        width: 100%;
        margin-bottom: 30px;
    }
    .form-input{
        width: 100%;
    }

    /* footer section */

    .article{
        width: 33%;
        margin-bottom: 30px;
    }
    .mustafiz{
        font-size: 1.4rem;
        font-weight: 600;
        color: #fe7865;
        font-style: italic;
    }
}

@media only screen and (max-width:991px){

    .navSection{
        padding: 20px ;
    }

   .navSection .homeList{
        margin-left: 0;
   }
}


/* ----------------  view in 575px  ------------------- */


@media only screen and (max-width:575px){

    /* common classe  */

    html{
        font-size: 15px;
    }

    .container{
        width: 95%;
    }

    /* nav section */


    .navSection{
        padding: 20px 0;
    }
    .navSection img{
        margin: 0 auto;
    }
    .navSection ul li {
        margin-left: 20px;
    }
    .navSection .homeList{
        margin-left: 7px;
    } 
    
    /* banner section */


    .bannerLeft {
        display: none;
    }
    .bannerOffer{
        display: none;
    }
    .bannerRight {
        width: 100%;
        padding: 20px 0 0 20px;
    }
    .bannerRight  h1{
        padding-right: 0;
        font-size: 2.5rem;
    }
    .bannerRight p{
        font-size: 0.9rem;
    }
    .bannerBtn{
        font-size: 0.8rem;
        padding: 0.8rem 1.5rem;
    }
    .bannerBottom{
        margin: 20px 0;
    }
    .horizontal{
        width: 40%;
    }

    /* first section */

    .firstSection{
        padding-top: 80px;
    }
    .mainView{
        padding: 20px 0 0 20px;
    }
    .vc-para{
        font-size: 1.2rem;
        margin: 0 0 20px 0;
    }
    .vc-btn{
        font-size: 1rem;
        margin-left: 0;
    }

    /* second section */

    .secondSection{
        padding: 50px 0;
    }
    .chair{
        width: 47%;
    }
    .secondChair{
        width: 100%;
        margin-bottom: 30PX;
    }
     
    /* third section */

    .thirdSection{
        padding-bottom: 0;
    }
    .four-section{
        width: 100%;
        margin-bottom: 30px;
    }

    /* fourth section */

    .fourthSection{
        padding: 50px 0 0;
    }
    .article-btn{
        left: 50px;
        bottom: 100px;
        padding: 10px 30px;
    }
    .article-para{
        margin-bottom: 20px;
        position: relative;
        top: -30px;
    }

    /* fifth section */

    .fifthSection{
        padding: 50px 0;
    }
    .fifth-para{
        padding: 0;
        font-size: 1rem;
    }
    .person{
        width: 100%;
    }
    .three-icons{
        width: 30%;
    }

    /* sixth section */

    .lisaWhite {
        width: 100%;
    }
    .lisaPara{
        font-size: 1.2rem;
        line-height: 30px;
        margin: 10px 0;
    }

    /* seven section */

    .loved-div{
        width: 100%;
    }
    .loved-a{
        font-size: 1.2rem;
        font-weight: 600;
    }
    
    .bottom-loved-a{
        font-size: 1rem;
    }

    .seventhSection{
        padding-bottom: 0;
    }
    .common-h1{
        font-size: 2rem;
    }
    .common-para{
        padding: 0 10px;
    }
    /* eight section */

    .eight-section{
        padding-bottom: 50px;
    }
    .input{
        width: 100%;
        margin-bottom: 30px;
    }
    .textarea{
        width: 100%;
        margin-top: 0;
    } 

    /* footer section */

    .article{
        width: 100%;
        margin-bottom: 30px;
    }
    .shc{
        width: 100%;
        margin-bottom: 30px;
    }
    .main-div{
        display: flex;
        justify-content: left;
    }

    .footer-icon-div{
        width: 10%;
    }
    .contactNow{
        padding: 10px 30px;
        font-size: 1rem;
    }

    .bottom-head{
        font-size: 1rem;
    }

}

@media only screen and (max-width:575px){

   .navSection ul li a{
        font-size: 0.89rem;
   } 
   .secondChair{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
   }
}

@media only screen and (max-width:575px){
    .navSection{
        padding: 0;
    }
    .navSection ul{
        padding-top: 0;
    }
    .navSection ul li a{
        font-size: 0.6rem;
    } 
    .navSection .homeList{
        margin-left: 0;
    }
    .bannerSection{
        padding-top: 100px;
    }
    .bannerRight h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .bannerRight p{
        padding-left: 0;
    }
    .horizontal{
        width: 50%;
    }
    .icon{
        width: 35%;
    }
    .random-icon-div{
        width: 25%;
    }
}